django==4.2.15
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
gunicorn==21.2.0
uvicorn==0.27.1
python-dotenv==1.0.1
pymongo==4.6.2
youtube-transcript-api==0.6.2
transformers==4.38.2
torch==2.2.1
numpy==1.26.4
pandas==2.2.1
yt-dlp==2024.3.10
drf-nested-routers==0.93.5
certifi==2024.2.2
whitenoise==6.6.0 